<div ng-controller="ConversionController as vm">
    <input type="number" ng-model="vm.resolution"/>
    <!--<button type="file" ngf-select="vm.uploadTextureImage($file)" accept="image/*" ngf-max-size="5MB">Texture File</button>
    <button ng-click="vm.analyzeTexture()" ng-show="vm.hasTextureImage">Analyze Texture</button>-->
    <canvas width="0" height="0" id="textureCanvas" ng-hide="true"></canvas>

    <button type="file" ngf-select="vm.uploadImage($file)" accept="image/*" ngf-max-size="5MB">Image File</button>
    <button ng-click="vm.analyzeImage(vm.resolution)" ng-show="vm.hasImage && vm.hasTerrainImage">Analyze Image</button>
    <canvas width="0" height="0" id="imageCanvas"></canvas>

    <canvas width="0" height="0" id="outputCanvas"></canvas>
</div>